#logoBanner {
    /*width: 75%;*/
    /*position: relative;*/
    display: block;
    margin: 0 auto;
    padding-top: 3%;
    max-width:50%;
}

#button1 {
    position: absolute;
    top: 30%;
    left: 25%;
    color: blue;
}
